# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.idea

# idea
.idea/
out
*.ipr
*.iws
*.iml

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# gradle
.gradle
build/
out/
classes/

# other
eclipse
run

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr